<h1>Add a category</h1>
<p>Add a category here:</p>

<form action='/categories' method='post'>
  <label for='categoryName'>Category name</label>
    <input id='categoryName' name='categoryName' type='text'>
  <button type='submit'>Create</button>
</form>

<p><a href='/categories'>All categories</a></p>
<p><a href='/'>Home</a></p>